@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.nav-container {
     display: flex;
     background-color: bisque;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
}


.title {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 0.2rem;
    margin-left: 5rem;
}

.nav-links {
     display: flex;
     width: 40%;
     flex-direction: row;
     justify-content: space-around;
     margin-right: 5rem;

}

.nav-links a {

    text-decoration: none;
    color: black;
}

.nav-links li {
    list-style: none;
    cursor: pointer;
}


.recipe-container {

    margin: 5rem 10rem;

}

.recipe {

    border: 1px solid rgba(37, 36, 36, 0.493);
    margin: 3rem 0;


}



.recipe-header {
     
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    margin: 0.5rem 0.5rem;
}

.more-btn {

    margin-right: 1rem;

}


.btn-container {
    display: flex;
}


.instructions {

    display: none;
    text-align: justify;
    margin: 1rem;

}


/* Add dishes page */


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
}

.form {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border: 1px solid rgba(37, 36, 36, 0.493);
    box-shadow: 10px 10px 22px 0px rgba(171,169,171,1);
    margin-top: 2rem;

    
}

.form-el {
    display: flex;
    flex-direction: column;
    margin: 2rem;

}

.form-el input {
    border: none;
    border: 0.1rem solid rgba(171,169,171,1);
    border-radius: 0.2rem;
    padding: 0.5rem;
}

.form-el button {
    border: none;
    border: 0.1rem solid rgba(171,169,171,1);
    border-radius: 0.2rem;
    padding: 0.5rem;
    background: rgb(6, 150, 25);
    color: white;
    font-weight: bold;

}